{
  "dry": true,
  "gsheet": {
    "auth": {
      "configFile": "/config/gdocs-personal-aaaaaaaaaaaa.json"
    }
  },
  "cash": {
    "configProvider": "/config/gnucash-config.json"
  },
  "bank": {
    "bunq": {
      "apiKey": "",
      "auth": {
        "configFile": "/config/bunq-production.conf"
      },
      "apiContextDescription": "monkybunq"
    }
  },
  "distributor": {
    "configProvider": "/config/monetary-distribution-config.json"
  }
}
