{
  "gsheet": {
    "sheetId": "111111111-11111111111111111",
    "worksheet": "develop"
  },
  "distribution": {
    "source": {
      "name": "Inbox",
      "bank": "Bunq",
      "iban": "NL11BUNQ2222222222",
      "recipient": "My name",
      "value": {
        "worksheetCell": "A2"
      }
    },
    "targets": [
      {
        "name": "Lifestyle",
        "bank": "Bunq",
        "iban": "NL11BUNQ2222222222",
        "recipient": "Recipient name",
        "value": {
          "worksheetCell": "B2"
        }
      },
      {
        "name": "Fun",
        "bank": "Bunq",
        "iban": "NL11BUNQ2222222222",
        "recipient": "Recipient name",
        "subject": "Urlaub Handy Markenschuhe"
        "value": {
          "worksheetCell": "C2"
        }
      },
      {
        "name": "Savings",
        "bank": "IngDiba",
        "iban": "DE11222222223333333333",
        "recipient": "Recipient name",
        "value": {
          "worksheetCell": "D2"
        }
      }
    ]
  }
}
